<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559516113111-3d5llglt0tgf3frl8adjkd5s9icrtbrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559516113111-3d5llglt0tgf3frl8adjkd5s9icrtbrp</string>
	<key>API_KEY</key>
	<string>AIzaSyC5nlfNkrACmfYT-B5YJmq1Ticd-VxSiqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>559516113111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sanavpai.NewsiesFour</string>
	<key>PROJECT_ID</key>
	<string>newsies-10f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>newsies-10f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:559516113111:ios:cd5b50dc58ddab22daf892</string>
</dict>
</plist>
